.datepicker {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.datepicker table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.datepicker table th,
.datepicker table td {
  width: calc(100% / 7);
  padding: 0;
}

.datepicker table th {
  color: #90caf9;
  text-transform: uppercase;
  font-size: 0.5rem;
  line-height: 4;
  font-weight: bold;
  text-align: center;
}

.datepicker__wrapper {
  color: #333;
  border-radius: 0.125rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
  background: white;
  border: 1px solid #2196f3;
  width: 16rem;
}

.datepicker__wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.datepicker:not(.is-inline) .datepicker__wrapper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0.25rem 0;
}

.datepicker__header {
  position: relative;
  text-align: center;
  background: #2196f3;
  padding: 0.25rem;
  margin: -0.5rem -0.5rem 0;
}

.datepicker__title {
  display: inline-block;
  padding: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: white;
}

.datepicker__prev,
.datepicker__next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: no-repeat center / 60%;
  font-size: 0;
}

.datepicker__prev:hover,
.datepicker__next:hover {
  background-color: #1e88e5;
}

.datepicker__prev {
  float: left;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2.53125L9.98125 1.74518e-06L-2.18557e-06 12.5L9.98125 25L12 22.4688L4.04375 12.5L12 2.53125Z' fill='%23D7A469'/%3E%3Cpath d='M24 2.53125L21.9812 1.74518e-06L12 12.5L21.9812 25L24 22.4688L16.0437 12.5L24 2.53125Z' fill='%23D7A469'/%3E%3C/svg%3E%0A") !important;
}

.datepicker__next {
  float: right;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22.4687L14.0188 25L24 12.5L14.0188 -8.72589e-07L12 2.53125L19.9563 12.5L12 22.4687Z' fill='%23D7A469'/%3E%3Cpath d='M1.17496e-06 22.4687L2.01875 25L12 12.5L2.01875 -8.72589e-07L2.91795e-06 2.53125L7.95625 12.5L1.17496e-06 22.4687Z' fill='%23D7A469'/%3E%3C/svg%3E") !important;
}

.datepicker__prev.is-disabled,
.datepicker__next.is-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.datepicker__time {
  padding: 0.5rem 1rem;
  margin: 0 -0.5rem;
  font-size: 0.75rem;
  text-align: right;
  background: #e3f2fd;
  border-bottom: 1px solid #bbdefb;
}

.datepicker__label {
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.4);
  float: left;
}

.datepicker__field {
  display: inline-block;
  margin: 0 0.125rem;
  color: #333;
  width: 2ch;
}

.datepicker__field span {
  display: block;
  width: 100%;
}

.datepicker__day {
  color: #333;
}

.datepicker__day div {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  background: transparent;
  position: relative;
  border-radius: 50%;
}

.datepicker__day div::after {
  content: "";
  display: block;
  border-radius: 50%;
  padding-top: 100%;
  position: relative;
  background: inherit;
  z-index: 1;
}

.datepicker__day div:hover,
.datepicker__day.is-highlighted div {
  background: #e3f2fd;
}

.datepicker__day.is-today {
  color: #2196f3;
}

.datepicker__day.is-today div::after {
  box-shadow: inset 0 0 0 1px currentColor;
}

.datepicker__day.is-today.is-disabled.is-selected div::after,
.datepicker__day.is-today.is-otherMonth.is-selected div::after {
  box-shadow: none;
}

.datepicker__day.is-selected div {
  background: #2196f3;
}

.datepicker__day.is-selected:hover div::after {
  background: #1e88e5;
}

.datepicker__day.is-selected .datepicker__daynum {
  font-weight: bold;
  color: white;
}

.datepicker__day.is-selected + .is-selected div::before,
.datepicker__day.is-highlighted + .is-highlighted div::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 0;
}

.datepicker__day.is-disabled,
.datepicker__day.is-otherMonth {
  cursor: default;
  pointer-events: none;
  color: #bbdefb;
}

.datepicker__day.is-disabled.is-selected .datepicker__daynum,
.datepicker__day.is-otherMonth.is-selected .datepicker__daynum {
  color: rgba(0, 0, 0, 0.2);
}

.datepicker__day.is-disabled.is-selected div,
.datepicker__day.is-otherMonth.is-selected div,
.datepicker__day.is-disabled.is-selected + .is-selected div::before,
.datepicker__day.is-otherMonth.is-selected + .is-selected div::before {
  background: #e3f2fd;
}

.datepicker__daynum {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: -0.5rem;
  text-align: center;
  z-index: 2;
}
