@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/sfProDisplayRegular.OTF),
    url(../fonts/sfProDisplayMedium.OTF), url(../fonts/sfProDisplayBold.OTF);
}

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-color: #d15e14;
  --secondary-color: #137ac9;
  --text-color: #000000;
  --gray-text: rgba(0, 0, 0, 0.6);
  --stroke-color: #cdcfd3;
  --red: #ff4a4a;
  --white: #ffffff;
  --shadow-lg: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  --primary-font: "SF Pro Display";
}

/* ====================
  Reset Default CSS End
  ==================== */

/* Hero Start */

#hero {
  width: 100%;
  background: url(../img/hero_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_content {
  padding: 60px 0;
}

.hero_content h1 {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
}

.hero_content p {
  color: var(--white);
  font-size: 18px;
  font-weight: 400 !important;
  margin-bottom: 0;
}

.hero_content p b {
  font-weight: 600 !important;
}

/* Hero End */
