@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-color: #d15e14;
  --secondary-color: #137ac9;
  --text-color: #000000;
  --gray-text: rgba(0, 0, 0, 0.6);
  --stroke-color: #cdcfd3;
  --red: #ff4a4a;
  --white: #ffffff;
  --shadow-lg: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  --primary-font: "Roboto";
  --secondary-font: "Poppins";
}

/* ====================
  Reset Default CSS End
  ==================== */

/* Mobile View Navbar Start */
#mobile_navbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: var(--white);
  border-top: 1px solid var(--stroke-color);
  z-index: 222222;
}

.mobile_navbar_item ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 16px 20px !important;
}

.mobile_navbar_item ul a p {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--text-color);
  margin: 0px;
  transition: 0.4s !important;
}

.mobile_navbar_item ul a svg {
  width: 20px;
  height: 20px;
}

.mobile_navbar_item ul a svg path {
  transition: 0.4s !important;
}

.mobile_navbar_item ul li a.active p,
.mobile_navbar_item ul a:hover p {
  color: var(--primary-color);
}

.mobile_navbar_item ul li a.active svg path,
.mobile_navbar_item ul a:hover svg path {
  fill: var(--primary-color) !important;
}

.mobile_navbar_item ul li a.active .bag path,
.mobile_navbar_item ul a:hover .bag path {
  stroke: var(--primary-color) !important;
  fill: none !important;
}

/* Mobile View Navbar End */


/* Empty Bag (Signed Out) Start */
.bag_empty {
  position: relative;
  width: 100%;
  margin-bottom: 73px;
  padding: 0 12px;
  margin-top: 101px;
}

.bag_empty_item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.bag_empty_title {
  padding: 20px 0;
  border-bottom: 1px solid var(--stroke-color);
}

.bag_empty_title h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.bag_empty .empty_wrapper .order_item {
  text-align: center !important;
  margin: 0px 0px 10px 0px;
}

.bag_empty .empty_wrapper .order_item h1 {
  font-size: 18px;
  font-weight: bold;
  text-wrap: wrap;
}

.bag_empty .empty_wrapper .order_item p {
  max-width: 350px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 0;
}

.bag_empty .empty_wrapper .order_img {
  text-align: center !important;
}

.bag_empty .empty_wrapper .order_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.bag_empty .empty_wrapper .order_btn button:hover {
  color: var(--primary-color);
}

.bag_empty .empty_wrapper .order_btn button span:hover {
  border-color: var(--primary-color);
}

.bag_empty .empty_wrapper .order_btn button {
  background: transparent;
  transition: 0.3s;
}

.bag_empty .empty_wrapper .order_btn button span {
  border-bottom: 1px solid var(--text-color);
  margin: 0 15px;
  font-size: 14px;
  font-weight: bold;
}

.bag_empty .empty_wrapper .order_btn .vertical_bar {
  font-size: 20px;
  color: var(--stroke-color);
}

.bag_empty .order_item h1 {
  text-align: center;
}

.start_an_order {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 15px;
}

.start_order_btn {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  background: var(--primary-color);
  padding: 10px;
  border-radius: 30px;
  transition: 0.4s;
}

.bag_empty .start_order_btn:hover {
  background: #ad4708;
}

/* Empty Bag (Signed Out) Start */


/* My Bag (Signed In) Start Start */
.my_bag {
  position: relative;
  width: 100%;
  padding: 0 12px;
  margin-top: 101px;
  margin-bottom: 73px;
}

.my_bag_item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px 40px 0px;
}

.my_bag_title {
  padding: 20px 0;
  border-bottom: 1px solid var(--stroke-color);
}

.my_bag_title h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.my_bag_wrapper .order_item {
  text-align: center !important;
  margin: 0px 0px 10px 0px;
}

.my_bag_wrapper .order_item h1 {
  font-size: 18px;
  font-weight: bold;
  text-wrap: wrap;
}

.my_bag_wrapper .order_item p {
  max-width: 350px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 0;
}

.my_bag_wrapper .order_img {
  text-align: center !important;
}

.my_bag_wrapper .order_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.my_bag_wrapper .order_btn button:hover {
  color: var(--primary-color);
}

.my_bag_wrapper .order_btn button span:hover {
  border-color: var(--primary-color);
}

.my_bag_wrapper .order_btn button {
  background: transparent;
  transition: 0.3s;
}

.my_bag_wrapper .order_btn button span {
  border-bottom: 1px solid var(--text-color);
  margin: 0 15px;
  font-size: 14px;
  font-weight: bold;
}

.my_bag_wrapper .order_btn .vertical_bar {
  font-size: 22px;
  color: var(--stroke-color);
}

.order_item h1 {
  text-align: center;
}

.start_an_order {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 15px;
}

.start_order_btn {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  background: var(--primary-color);
  padding: 10px;
  border-radius: 30px;
  transition: 0.4s;
}

.start_order_btn:hover {
  background: #ad4708;
}

.my_bag_wrapper .promo_code {
 margin-bottom: 60px;
}

.my_bag_wrapper .promo_code h1 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--primary-font);
}

.my_bag_wrapper .promo_code p {
  font-size: 12px;
  color: rgba(0, 0, 0, 70%);
  font-family: var(--primary-font);
  margin-bottom: 0;
  margin-top: 10px;
}

.my_bag_wrapper .promo_code .input_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cdcfd3;
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 6px;
}

.my_bag_wrapper .promo_code .input_item input {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 14px;padding-left: 10px;
}

.my_bag_wrapper .promo_code .input_item .apply {
  border: 2px solid rgba(0, 0, 0, 5%);
  background: #FFFFFF;
  color: var(--text-color);
  font-weight: bold;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 4px;
  transition: 0.4s;
}

.my_bag_wrapper .promo_code .input_item .apply.show {
  background: rgba(209, 94, 20, 10%);
  color: var(--primary-color);
}

.promo_code .input_item .apply.show:hover {
  background: var(--primary-color);
  color: var(--white);
}

/* My Bag (Signed In) Start End */


/* My Bag (After Item Was Removed) Start */

.remove_cart_wrapper {
  background: var(--white);
  padding: 0px 20px;
  margin-bottom: 75px;
}

.remove_cart .remove_cart_title {
  padding: 20px 0;
  border-bottom: 1px solid var(--stroke-color);
}

.remove_cart .remove_cart_title h1{
  margin: 0;
  font-size: 24px;
}

.remove_cart .button1 {
  text-align: start;
  width: calc(100% + 60px);
  margin-left: -30px;
  background: var(--red);
  color: var(--white);
  font-size: 14px;
  padding: 12px 30px;
  display: none;
}

.remove_cart .button1.active {
  display: block;
}

.remove_cart .button1 i {
  margin-right: 10px;
}

.remove_cart .button2 {
  text-align: center;
  width: calc(100% + 60px);
  margin-left: -30px;
  background: var(--secondary-color);
  color: var(--white);
  font-size: 14px;
  padding: 12px 30px;
  display: none;
}

.remove_cart .button2.active {
  display: block;
}

.remove_cart .add_condiments {
  margin: 0;
}

.remove_cart .summary h1 {
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 600;
  margin: 16px 0;
}

.remove_cart .summary button {
  width: 100%;
  text-align: left;
  background: #f5f5f5;
  padding: 14px 30px;
}

.remove_cart .summary .btn1 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
  border: 1px solid var(--stroke-color);
}

.remove_cart .summary .btn2 {
  font-size: 12px;
  font-weight: 600;
  border: 1px solid var(--stroke-color);
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.remove_cart .summary .btn2 span:nth-last-child( ){
  font-size: 12px;
  font-weight: 600;
}

.remove_cart .summary .btn2 span {
  margin-right: 10px;
  font-size: 20px;
}

.remove_cart .promo_code {
  margin: 30px 0;
 }
 
 .remove_cart .promo_code h1 {
   font-size: 18px;
   font-weight: bold;
   font-family: var(--primary-font);
 }
 
 .remove_cart .promo_code p {
   font-size: 12px;
   color: rgba(0, 0, 0, 70%);
   font-family: var(--primary-font);
   margin-bottom: 0;
   margin-top: 10px;
 }
 
 .remove_cart .promo_code .input_item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #cdcfd3;
   border-radius: 4px;
   padding: 2px;
   margin-bottom: 6px;
 }
 
 .remove_cart .promo_code .input_item input {
   width: 100%;
   height: 30px;
   border: none;
   font-size: 14px;padding-left: 10px;
 }
 
 .remove_cart .promo_code .input_item .apply {
   border: 2px solid rgba(0, 0, 0, 5%);
   background: #FFFFFF;
   color: var(--text-color);
   font-weight: bold;
   font-size: 14px;
   padding: 4px 10px;
   border-radius: 4px;
   transition: 0.4s;
 }

.bag_remove_checkout_btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bag_remove_checkout_btn button {
  display: block;
  width: 50%;
  font-weight: 600;
  font-size: 14px;
  font-family: var(--primary-font);
  padding: 8px;
  background: transparent;
  transition: 0.5s;
}

.remove_cart_wrapper .bag_modal_total_price {
  padding-bottom: 20px !important;
}

.remove_cart_wrapper .bag_price_title {
  color: var(--text-color);
}

.bag_remove_checkout_btn .add_item_button{
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 30px 0 0 30px;
}

.bag_remove_checkout_btn .checkout_button {
  border: 2px solid var(--stroke-color);
  border-left: none;
  background: var(--stroke-color);
  color: var(--white);
  border-radius: 0 30px 30px 0;
}

/* My Bag (After Item Was Removed) End */
