@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/sfProDisplayRegular.OTF),
    url(../fonts/sfProDisplayMedium.OTF), url(../fonts/sfProDisplayBold.OTF);
}

/* ====================
    Reset Default CSS Start
    ==================== */

:root {
  --primary-color: #d15e14;
  --secondary-color: #137ac9;
  --text-color: #000000;
  --gray-text: rgba(0, 0, 0, 0.6);
  --stroke-color: #cdcfd3;
  --red: #ff4a4a;
  --white: #ffffff;
  --shadow-lg: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  --primary-font: "SF Pro Display";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

p {
  font-family: var(--primary-font);
  margin-top: 0;
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--primary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--primary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--primary-font);
}

input {
  outline: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--primary-font);
}

/* ====================
    Reset Default CSS End
    ==================== */

/* Bag Empty Popup Start */

.bag_empty_modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.bag_empty_modal .empty_wrapper {
  position: relative;
  width: 850px;
  background: var(--white);
  padding: 30px 30px 0;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.bag_empty_modal .empty_wrapper .order_item {
  text-align: center !important;
  margin: 60px 0px 40px 0px;
}

.bag_empty_modal .empty_wrapper .order_item h1 {
  font-size: 24px;
  font-weight: bold;
}

.bag_empty_modal .empty_wrapper .order_item p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.bag_empty_modal .empty_wrapper .order_img {
  text-align: center !important;
}

.bag_empty_modal .empty_wrapper .order_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 60px 0px;
}

.bag_empty_modal .empty_wrapper .order_btn button {
  background: transparent;
}

.bag_empty_modal .empty_wrapper .order_btn button span {
  border-bottom: 1px solid var(--text-color);
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
}

.bag_empty_modal .empty_wrapper .order_btn .vertical_bar {
  font-size: 25px;
  color: var(--stroke-color);
}

.bag_empty_modal .close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.bag_empty_modal .close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.bag_empty_modal .close_modal i {
  font-size: 1.2em;
}

.bag_empty_modal .order_item h1 {
  text-align: center;
}

/* Bag Empty Popup End */

/* Add Condiments & Promo Start */
.modal_wrapper::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.modal_wrapper::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.cart_modal .add_item {
  margin: 20px 0;
}

.cart_modal .add_item button {
  font-size: 26px;
  background: transparent;
  font-family: var(--primary-font);
  font-weight: 600;
}

.cart_modal .add_item button span {
  font-size: 30px;
  margin-right: 10px;
  font-weight: lighter;
}

.cart_modal .promo_code h1 {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--primary-font);
}

.cart_modal .promo_code p {
  font-size: 16px;
  color: rgba(0, 0, 0, 70%);
  font-family: var(--primary-font);
}

.cart_modal .promo_code .input_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cdcfd3;
  border-radius: 4px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 6px;
}

.cart_modal .promo_code .input_item input {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
}

.cart_modal .promo_code .input_item .apply {
  background: rgba(209, 94, 20, 10%);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  padding: 6px 20px;
  border-radius: 4px;
}

/* Add Condiments & Promo End */

/* Remove Cart Start */

.cart_modal {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 100px 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_wrapper {
  position: relative;
  width: 850px;
  background: var(--white);
  padding: 30px 30px 0;
  border-radius: 16px;
}

.cart_modal .modal_title {
  padding-bottom: 20px;
  border-bottom: none !important;
}

.close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.close_modal i {
  font-size: 1.2em;
}

.cart_modal .button1 {
  background: var(--red);
}

.cart_modal .button1 {
  text-align: start;
  width: calc(100% + 60px);
  margin-left: -30px;
  background: var(--red);
  color: var(--white);
  font-size: 16px;
  padding: 12px 30px;
}

.cart_modal .button1 i {
  margin-right: 10px;
}

.cart_modal .button2 {
  text-align: start;
  width: calc(100% + 60px);
  margin-left: -30px;
  background: var(--secondary-color);
  color: var(--white);
  font-size: 16px;
  padding: 12px 30px;
}

.cart_modal .add_condiments {
  margin: 40px 0px 60px 0px;
}

.cart_modal .summary h1 {
  font-size: 22px;
  font-family: var(--primary-font);
  font-weight: 600;
}

.cart_modal .summary button {
  width: 100%;
  text-align: left;
  background: #f5f5f5;
  padding: 14px 30px;
}

.cart_modal .summary .btn1 {
  color: var(--red);
  border-bottom: 1px solid var(--stroke-color);
}

.cart_modal .summary .btn2 {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.cart_modal .summary .btn2 span {
  margin-right: 10px;
  font-size: 20px;
}
/* Remove Cart End */

/* Pickup Details Start */

.pickup_modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 100px 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.pickup_wrapper {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 850px;
  height: 620px;
  background: var(--white);
  border-radius: 16px;
}

.pickup_wrapper::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.pickup_wrapper::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.pickup_head {
  text-align: center;
  background: var(--secondary-color) !important;

  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 70px 0px 110px 0px;
  font-family: var(--primary-font);
}

.pickup_modal .pickup_head h3 {
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
}

.pickup_modal .pickup_head h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--white);
}

.pickup_modal .pickup_head p {
  font-size: 14px;
  color: #ffffff;
  font-weight: lighter;
}

.pickup_modal .close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.pickup_wrapper .pickup_address {
  width: 450px !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--stroke-color);
  padding: 20px;
  border-radius: 4px;
  font-family: var(--primary-font);
}

.pickup_wrapper .pickup_address .address_img {
  width: 90px;
  margin-right: 20px;
}

.pickup_wrapper .pickup_address img {
  width: 100%;
  aspect-ratio: 1/1 !important;
}

.pickup_wrapper .pickup_address h1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
}

.pickup_wrapper .pickup_address p {
  font-size: 15px;
  margin-bottom: 0px;
}

.pickup_wrapper .pickup_summary {
  margin-top: 120px;
  padding: 0 30px;
  font-family: var(--primary-font);
}

.pickup_wrapper .pickup_summary h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
}

.pickup_wrapper .pickup_summary p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  padding-bottom: 15px;
  border-bottom: 1px solid var(--stroke-color);
  margin-bottom: 20px;
}

.pickup_wrapper .order_summary {
  font-family: var(--primary-font);
  margin: 0 30px 0px 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--stroke-color);
}

.pickup_wrapper .order_summary h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.pickup_wrapper .order_summary h2 {
  display: flex;
  font-size: 18px;
  color: var(--text-color);
}

.pickup_wrapper .order_summary h2 span:nth-child(1) {
  margin-right: 10px;
}

.pickup_wrapper .order_summary h2 span:nth-child(2) {
  margin-left: 30px;
}

.pickup_wrapper .order_summary p {
  font-size: 18px;
  margin: 0px;
  padding-left: 30px;
}

.pickup_wrapper .paid_with {
  margin: 0 30px;
}

.pickup_wrapper .paid_with h1 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  margin: 0px;
}

.pickup_wrapper .paid_with .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 40px 0px;
}

.pickup_wrapper .paid_with .item .methode {
  display: flex;
  align-items: center;
}
.pickup_wrapper .paid_with .item .methode h3 {
  font-size: 20px;
  margin: 0px;
}
.pickup_wrapper .paid_with .item .download {
  display: flex;
  align-items: center;
  background: none;
}
.pickup_wrapper .paid_with .item .download h4 {
  font-size: 16px;
  margin: 0px;
  color: var(--secondary-color);
  padding-left: 10px;
}

.pickup_modal .close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.pickup_modal .close_modal i {
  font-size: 1.2em;
  color: var(--white);
}

@media screen and (max-width: 576px) {
  .pickup_wrapper .pickup_address {
    width: 310px !important;
    padding: 10px;
  }
  .pickup_wrapper .pickup_address .address_img {
    width: 90px;
    margin-right: 10px;
  }
  .pickup_wrapper .pickup_address h1 {
    font-size: 12px;
  }

  .pickup_wrapper .pickup_address p {
    font-size: 12px;
  }
}

/* Pickup Details End */




/* Rewards Start */

#member_rewards .rewards {
  margin: 50px 0;

}

.rewards .signature_reward{
  width: 100%;
  background-color: var(--secondary-color);
  background-image: url(../img/member-rewards-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}

.rewards .signature_reward .reward_img{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: auto;

}
.rewards .signature_reward .reward_img img{
  width: 100%;
  height: 100%;
  margin-top: -40px;

}

.rewards .signature_reward .title{
  text-align: center;
  margin-top: -30px;
  padding-bottom: 30px;

}

.rewards .signature_reward .title p{
  margin: 0px;
  font-size: 16px;
  color: #f7f7f7;

}

.rewards .signature_reward .title h1{
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
  padding: 6px 0;

}

.rewards .achieve_status {
  background: rgba(0, 0, 0, 10%);
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0;

}

.rewards .achieve_status h1{
  font-size: 16px;
  color: var(--secondary-color);
  margin: 0px;

}

.rewards .achieve_status p{
  font-size: 12px;
  color: var(--gray-text);
  margin: 0px;

}

.rewards .achieve_status .progress_status{
  width: 380px;
  background: var(--stroke-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin: 15px 0;

}

.rewards .achieve_status .progress_status span{
  background: linear-gradient(#137AC9,#02345B);
  color: var(--white);
  padding: 4px 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-radius: 4px;
  margin: 0px;

}
.rewards .achieve_status .progress_status .sub_progress{
  color: var(--text-color);
  padding: 4px 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-radius: 4px;
  margin: 0px;

}

.rewards .achieve_status button{
  font-size: 14px;
  color: var(--secondary-color);
  background: none;

}

#member_rewards .all_rewards{
  margin-top: 0px;
  margin-bottom: 90px;
}

#member_rewards .all_rewards .heading h1{
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

#member_rewards .all_rewards .heading p{
  margin: 0px;
  color: var(--primary-color);
}

#member_rewards .all_rewards .reward_item{
  position: relative;
  width: 100%;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  padding: 20px;
  opacity: 0.5;
}

#member_rewards .all_rewards .reward_item .reward_icon{
  position: absolute;
  top: 10px;
  right: 10px;
}

#member_rewards .all_rewards .reward_item .reward_icon2{
  position: absolute;
  top: 10px;
  right: 10px;
}

#member_rewards .reward_item .reward_icon img{
  width: 40px;
}

#member_rewards .reward_item .reward_icon2 img{
  width: 22px;
}

#member_rewards .reward_item .product_img{
  width: 100%;
  display: flex;
  justify-content: center;
}

#member_rewards .reward_item .reward_item img{
  width: 100%;
}

#member_rewards .reward_item .reward_title{
  text-align: center;
}

#member_rewards .reward_item .reward_title h1{
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
}

#member_rewards .reward_item .reward_title p{
  font-size: 18px;
  color: var(--gray-text);
  margin: 0px;
}

@media screen and (max-width:992px){
  #member_rewards .all_rewards .reward_item{
    margin-bottom: 20px;
  }
}

/* Rewards End */
