@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-color: #d15e14;
  --secondary-color: #137ac9;
  --text-color: #000000;
  --gray-text: rgba(0, 0, 0, 0.6);
  --stroke-color: #cdcfd3;
  --red: #ff4a4a;
  --white: #ffffff;
  --shadow-lg: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  --primary-font: "Roboto";
  --secondary-font: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

p {
  font-family: var(--primary-font);
  margin-top: 0;
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--primary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--primary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--primary-font);
}

input {
  outline: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--primary-font);
}

/* ====================
    Reset Default CSS End
    ==================== */

/* Bag Empty Popup Start */

.bag_empty_modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 333;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.bag_empty_modal.active {
  opacity: 1;
  user-select: auto;
  pointer-events: all;
}

.bag_empty_modal .empty_wrapper {
  position: relative;
  width: 850px;
  background: var(--white);
  padding: 30px 30px 0;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.bag_empty_modal.active .empty_wrapper {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.bag_empty_modal .empty_wrapper .order_item {
  text-align: center !important;
  margin: 60px 0px 40px 0px;
}

.bag_empty_modal .empty_wrapper .order_item h1 {
  font-size: 24px;
  font-weight: bold;
}

.bag_empty_modal .empty_wrapper .order_item p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.bag_empty_modal .empty_wrapper .order_img {
  text-align: center !important;
}

.bag_empty_modal .empty_wrapper .order_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 60px 0px;
}
.bag_empty_modal .empty_wrapper .order_btn button:hover {
  color: var(--primary-color);
}
.bag_empty_modal .empty_wrapper .order_btn button span:hover {
  border-color: var(--primary-color);
}

.bag_empty_modal .empty_wrapper .order_btn button {
  background: transparent;
  transition: 0.3s;
}

.bag_empty_modal .empty_wrapper .order_btn button span {
  border-bottom: 1px solid var(--text-color);
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
}

.bag_empty_modal .empty_wrapper .order_btn .vertical_bar {
  font-size: 25px;
  color: var(--stroke-color);
}

.bag_empty_modal .close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.bag_empty_modal .close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.bag_empty_modal .close_modal i {
  font-size: 1.2em;
}

.bag_empty_modal .order_item h1 {
  text-align: center;
}

/* Bag Empty Popup End */

/* Add Condiments & Promo Start */
.condiments .modal_title {
  padding: 0px !important;
}
.condiments .modal_title h1 {
  border-bottom: 1px solid #cdcfd3;
  padding-bottom: 12px;
}
.modal_wrapper::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.modal_wrapper::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.cart_modal .add_item {
  margin: -35px 0px 20px 0px;
}

.cart_modal .add_item button {
  font-size: 26px;
  background: transparent;
  font-family: var(--primary-font);
  font-weight: 600;
}

.cart_modal .add_item button span {
  font-size: 30px;
  margin-right: 10px;
  font-weight: lighter;
}

.cart_modal .promo_code h1 {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--primary-font);
}

.cart_modal .promo_code p {
  font-size: 16px;
  color: rgba(0, 0, 0, 70%);
  font-family: var(--primary-font);
  margin-bottom: 0;
  margin-top: 10px;
}

.cart_modal .promo_code .input_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cdcfd3;
  border-radius: 4px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 6px;
}

.cart_modal .promo_code .input_item input {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
}

.cart_modal .promo_code .input_item .apply {
  background: rgba(0, 0, 0, 0.2);
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  padding: 6px 20px;
  border-radius: 4px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.cart_modal .promo_code .input_item .apply.show {
  background: rgba(209, 94, 20, 10%);
  color: var(--primary-color);
}

.promo_code .input_item .apply.show:hover {
  background: var(--primary-color);
  color: var(--white);
}

/* Add Condiments & Promo End */

/* Remove Cart Start */

.cart_modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 333;
}

.modal_wrapper {
  position: relative;
  width: 850px;
  height: auto;
  background: var(--white);
  padding: 30px 30px 0;
  border-radius: 16px;
}

.cart_modal .modal_title {
  padding-bottom: 20px;
  border-bottom: none !important;
}

.close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.close_modal i {
  font-size: 1.2em;
}

.cart_modal .button1 {
  background: var(--red);
}

.cart_modal .button1 {
  position: relative;
  text-align: start;
  width: calc(100% + 60px);
  margin-left: -30px;
  background: var(--red);
  color: var(--white);
  font-size: 16px;
  padding: 12px 30px;
  display: none;
}

.cart_modal .button1.active {
  display: block;
}

.cart_modal .button1 i {
  margin-right: 10px;
}

.cart_modal .button2 {
  position: relative;
  text-align: start;
  width: calc(100% + 60px);
  margin-left: -30px;
  background: var(--secondary-color);
  color: var(--white);
  font-size: 16px;
  padding: 12px 30px;
  display: none;
}

.cart_modal .button2.active {
  display: block;
}

.close_cart_notification2,
.close_cart_notification1 {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 10px;
}

.close_cart_notification2 svg,
.close_cart_notification1 svg {
  width: 16px;
  height: 16px;
}

.cart_modal .add_condiments {
  margin: 0;
}

.cart_modal .summary h1 {
  font-size: 22px;
  font-family: var(--primary-font);
  font-weight: 600;
  margin: 16px 0;
}

.cart_modal .summary button {
  width: 100%;
  text-align: left;
  background: #f5f5f5;
  padding: 14px 30px;
}

.cart_modal .summary .btn1 {
  color: var(--red);
  border-bottom: 1px solid var(--stroke-color);
}

.cart_modal .summary .btn2 {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.cart_modal .summary .btn2 span {
  margin-right: 10px;
  font-size: 20px;
}

/* Remove Cart End */


/* Pickup Details Start */

.pickup_modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 333;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.pickup_modal.active {
  opacity: 1;
  user-select: auto;
  pointer-events: all;
}

.pickup_modal_content {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 850px;
  height: 90vh;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.pickup_modal.active .pickup_modal_content {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.pickup_wrapper {
  background: var(--white);
  border-radius: 16px;
  padding-bottom: 1px;
}

.pickup_check_btn {
  margin: 0;
}

.pickup_check_btn button {
  width: 100%;
  background: var(--primary-color);
  color: var(--white);
  padding: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.pickup_check_btn button:hover {
  background: #ad4708;
}

.pickup_modal_content::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.pickup_modal_content::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.pickup_head {
  text-align: center;
  background: var(--secondary-color) !important;

  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 70px 0px 110px 0px;
  font-family: var(--primary-font);
}

.pickup_modal .pickup_head h3 {
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
}

.pickup_modal .pickup_head h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--white);
}

.pickup_modal .pickup_head p {
  font-size: 14px;
  color: #ffffff;
  font-weight: lighter;
}

.pickup_modal .close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.pickup_wrapper .pickup_address {
  width: 450px !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--stroke-color);
  padding: 20px;
  border-radius: 4px;
  font-family: var(--primary-font);
}

.pickup_wrapper .pickup_address .address_img {
  width: 90px;
  margin-right: 20px;
}

.pickup_wrapper .pickup_address img {
  width: 100%;
  aspect-ratio: 1/1 !important;
}

.pickup_wrapper .pickup_address h1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
}

.pickup_wrapper .pickup_address p {
  font-size: 15px;
  margin-bottom: 0px;
}

.pickup_wrapper .pickup_summary {
  margin-top: 120px;
  padding: 0 30px;
  font-family: var(--primary-font);
}

.pickup_wrapper .pickup_summary h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
}

.pickup_wrapper .pickup_summary p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  padding-bottom: 15px;
  border-bottom: 1px solid var(--stroke-color);
  margin-bottom: 20px;
}

.pickup_wrapper .order_summary {
  font-family: var(--primary-font);
  margin: 0 30px 0px 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--stroke-color);
}

.pickup_wrapper .order_summary h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.pickup_wrapper .order_summary h2 {
  display: flex;
  font-size: 18px;
  color: var(--text-color);
}

.pickup_wrapper .order_summary h2 span:nth-child(1) {
  margin-right: 10px;
}

.pickup_wrapper .order_summary h2 span:nth-child(2) {
  margin-left: 30px;
}

.pickup_wrapper .order_summary p {
  font-size: 18px;
  margin: 0px;
  padding-left: 30px;
}

.pickup_wrapper .paid_with {
  margin: 30px;
}

.pickup_wrapper .paid_with h1 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  margin: 0px;
}

.pickup_wrapper .paid_with .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 40px 0px;
}

.pickup_wrapper .paid_with .item .methode {
  display: flex;
  align-items: center;
}
.pickup_wrapper .paid_with .item .methode h3 {
  font-size: 20px;
  margin: 0px;
}
.pickup_wrapper .paid_with .item .download {
  display: flex;
  align-items: center;
  background: none;
}
.pickup_wrapper .paid_with .item .download h4 {
  font-size: 16px;
  margin: 0px;
  color: var(--secondary-color);
  padding-left: 10px;
}

.pickup_modal .close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.pickup_modal .close_modal i {
  font-size: 1.2em;
  color: var(--white);
}

@media screen and (max-width: 576px) {
  .pickup_wrapper .pickup_address {
    width: 310px !important;
    padding: 10px;
  }
  .pickup_wrapper .pickup_address .address_img {
    width: 90px;
    margin-right: 10px;
  }
  .pickup_wrapper .pickup_address h1 {
    font-size: 12px;
  }

  .pickup_wrapper .pickup_address p {
    font-size: 12px;
  }
}

/* Pickup Details End */

/* Rewards Start */

#member_rewards .rewards {
  margin: 50px 0;
}

.rewards .signature_reward {
  width: 100%;
  background-color: var(--secondary-color);
  background-image: url(../img/member-rewards-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rewards .signature_reward .reward_img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.rewards .signature_reward .reward_img img {
  width: 100%;
  height: 100%;
  margin-top: -40px;
}

.rewards .signature_reward .title {
  text-align: center;
  margin-top: -30px;
  padding-bottom: 30px;
}

.rewards .signature_reward .title p {
  margin: 0px;
  font-size: 16px;
  color: #f7f7f7;
}

.rewards .signature_reward .title h1 {
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
  padding: 6px 0;
}

.rewards .achieve_status {
  background: rgba(0, 0, 0, 10%);
  margin-bottom: 80px;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  padding: 30px 0;
}

.rewards .achieve_status h1 {
  font-size: 16px;
  color: var(--secondary-color);
  margin: 0px;
}

.rewards .achieve_status p {
  font-size: 12px;
  color: var(--gray-text);
  margin: 0px;
}

.progress2 {
  position: relative;
  max-width: 380px;
  margin: 20px auto;
  padding: 0px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.progress2 .progress_total_val {
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.progress-bar2 {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--white);
  background-image: linear-gradient(to bottom, #137ac9, #02345b);
  transition: 0.4s linear;
  transition-property: width, background-color;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.progress_current_val {
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.progress_current_val.show {
  opacity: 1;
}

.progress-moved .progress-bar2 {
  width: 25%;
  background-color: #ef476f;
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

.rewards .achieve_status button {
  font-size: 14px;
  color: var(--secondary-color);
  background: none;
}

#member_rewards .all_rewards {
  margin-top: 0px;
  margin-bottom: 90px;
}

#member_rewards .all_rewards .heading h1 {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

#member_rewards .all_rewards .heading p {
  margin: 0px;
  color: var(--primary-color);
}

#member_rewards .all_rewards .reward_item {
  position: relative;
  width: 100%;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  padding: 20px;
  opacity: 0.5;
}

#member_rewards .all_rewards .reward_item .reward_icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

#member_rewards .all_rewards .reward_item .reward_icon2 {
  position: absolute;
  top: 10px;
  right: 10px;
}

#member_rewards .reward_item .reward_icon img {
  width: 40px;
}

#member_rewards .reward_item .reward_icon2 img {
  width: 22px;
}

#member_rewards .reward_item .product_img {
  width: 100%;
  display: flex;
  justify-content: center;
}

#member_rewards .reward_item .reward_item img {
  width: 100%;
}

#member_rewards .reward_item .reward_title {
  text-align: center;
}

#member_rewards .reward_item .reward_title h1 {
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
}

#member_rewards .reward_item .reward_title p {
  font-size: 18px;
  color: var(--gray-text);
  margin: 0px;
}

@media screen and (max-width: 992px) {
  #member_rewards .all_rewards .reward_item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .rewards .achieve_status .progress_status {
    max-width: 380px;
    width: 90%;
  }
}

/* Rewards End */

/* Delivery Start */

.delivery_modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 333;
}

.delivery_wrapper {
  position: relative;
  width: 850px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--white);
  padding: 30px 30px 0;
  border-radius: 16px;
}

.delivery_wrapper::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.delivery_wrapper::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 30px;
}

.close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.close_modal i {
  font-size: 1.2em;
}

.delivery_modal .modal_title {
  border: none;
}

.delivery_modal .modal_title h1 {
  font-size: 28px !important;
  font-family: var(--primary-font);
  font-weight: 600;
}

.delivery_btn {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
}
.delivery_btn .text {
  margin-left: 12px;
}

.delivery_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  padding: 8px;
  background: transparent;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.delivery_btn button h1 {
  text-align: start;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.delivery_btn button.active h1 {
  color: var(--white);
}

.delivery_btn button.active p {
  color: var(--white) !important;
}

.delivery_btn button.active path {
  stroke: var(--white);
}

.delivery_btn button p {
  font-size: 12px;
  margin: 0;
  color: var(--primary-color);
  font-weight: normal;
}

.delivery_btn button svg path {
  stroke: var(--primary-color);
}

.delivery_btn button.active {
  color: var(--white);
  background: var(--primary-color) !important;
}

.delivery_wrapper h4 {
  font-size: 18px;
  color: var(--gray-text);
  padding-top: 10px;
}

.delivery_wrapper form {
  margin: 30px 0;
}

.delivery_wrapper form label {
  font-size: 20px;
  padding-bottom: 4px;
}

.delivery_wrapper form input {
  width: 100%;
  border: 1px solid var(--stroke-color);
  border-radius: 30px;
  padding: 10px 18px;
  outline: none !important;
}

.delivery_wrapper form .select_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--stroke-color);
  border-radius: 30px;
  padding: 10px 18px;
  outline: none !important;
}

.delivery_wrapper form .select_container i {
  color: var(--gray-text);
}

.delivery_wrapper form select {
  width: 100%;
  border: none;
  outline: none;
  appearance: none;
}

.delivery_wrapper form option {
  width: 80% !important;
  padding-left: 40px !important;
}

.delivery_wrapper form .update {
  width: 100%;
  border-radius: 30px;
  margin-top: 30px;
  background: var(--primary-color);
  color: var(--white);
  padding: 10px 0;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .pickup h1 {
    font-size: 14px;
  }
  .delivery h1 {
    font-size: 14px;
  }
  .pickup p {
    font-size: 10px;
  }
  .delivery p {
    font-size: 10px;
  }
}

/* Delivery End */

/* Pickup Start */

.pickups_modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 333;
}

.pickups_wrapper {
  position: relative;
  width: 850px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--white);
  padding: 30px 30px 0;
  border-radius: 16px;
}

.pickups_wrapper::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.pickups_wrapper::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 30px;
}

.close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.close_modal i {
  font-size: 1.2em;
}

.delivery_modal .modal_title {
  border: none;
}

.delivery_modal .modal_title h1 {
  font-size: 28px !important;
  font-family: var(--primary-font);
  font-weight: 600;
}

.delivery_btn {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
}
.delivery_btn .text {
  margin-left: 12px;
}

.pickups_wrapper .delivery_btn button {
  display: block;
  width: 50%;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--primary-font);
  background: transparent;
}

.pickups_wrapper .delivery {
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: var(--primary-color) !important;
  border-radius: 27px;
  background: none !important;
}

.pickups_wrapper .delivery h1 {
  text-align: start;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.pickups_wrapper .delivery p {
  font-size: 12px;
  margin: 0;
  color: var(--primary-color) !important;
  font-weight: normal;
}

.pickups_wrapper .pickup {
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: var(--white) !important;
  border-radius: 28px;
  background: var(--primary-color) !important;
}

.pickups_wrapper .pickup h1 {
  color: var(--white) !important;
  text-align: start;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.pickups_wrapper .pickup p {
  color: var(--white);
  font-size: 12px;
  margin: 0;
  font-weight: normal;
}

.pickups_wrapper h4 {
  font-size: 18px;
  color: var(--gray-text);
  padding-top: 10px;
}

.pickups_wrapper form {
  margin: 30px 0;
}

.pickups_wrapper form label {
  font-size: 20px;
  padding-bottom: 4px;
}

.pickups_wrapper form .cheakboxs {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pickups_wrapper form .cheakboxs input {
  width: 20px !important;
  height: 20px !important;
}

.pickups_wrapper form .cheakboxs p {
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
}

.pickups_wrapper form input {
  width: 100%;
  border: 1px solid var(--stroke-color);
  border-radius: 30px;
  padding: 10px 18px;
  outline: none !important;
}

.pickups_wrapper form .select_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--stroke-color);
  border-radius: 30px;
  padding: 10px 18px;
  outline: none !important;
}

.pickups_wrapper form .select_container i {
  color: var(--gray-text);
}

.pickups_wrapper form select {
  width: 100%;
  border: none;
  outline: none;
  appearance: none;
}

.pickups_wrapper form option {
  width: 80% !important;
  padding-left: 40px !important;
}

.pickups_wrapper form .update {
  width: 100%;
  border-radius: 30px;
  margin-top: 30px;
  background: var(--primary-color);
  color: var(--white);
  padding: 10px 0;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .pickup h1 {
    font-size: 14px;
  }
  .delivery h1 {
    font-size: 14px;
  }
  .pickup p {
    font-size: 10px;
  }
  .delivery p {
    font-size: 10px;
  }
}

/* Pickup End */

/* Payment Popup Start */

.payment_modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 333;
}

.payment_wrapper {
  position: relative;
  width: 850px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--white);
  padding: 30px 30px 0;
  border-radius: 16px;
}

.payment_wrapper::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.payment_wrapper::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 30px;
}

.payment_modal .payment_item {
  margin: 160px 0;
  text-align: center;
}

.payment_modal .payment_item .spinner-border {
  width: 50px !important;
  height: 50px !important;
  color: var(--primary-color);
}

.payment_modal .payment_item p {
  font-size: 16px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
}

.payment_modal .payment_item h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

/* Payment Popup End */
