@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-color: #d15e14;
  --secondary-color: #137ac9;
  --text-color: #000000;
  --gray-text: rgba(0, 0, 0, 0.6);
  --stroke-color: #cdcfd3;
  --red: #ff4a4a;
  --white: #ffffff;
  --shadow-lg: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  --primary-font: "Roboto";
  --secondary-font: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

p {
  font-family: var(--primary-font);
  margin-top: 0;
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--primary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--primary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--primary-font);
}

input {
  outline: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--primary-font);
}

/* ====================
Reset Default CSS End
==================== */

/* Navbar Start */

#navbar {
  z-index: 3333;
  background: var(--white);
  padding: 20px 0;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100px;
}

.nav_items {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.nav_items ul li {
  color: var(--text-color);
  font-weight: 600;
}

.nav_items ul li a {
  color: var(--text-color);
  font-weight: 500;
  border-bottom: 2px solid var(--text-color);
}

.cart_btn {
  display: flex;
  align-items: center;
  background: var(--primary-color);
  font-size: 1em;
  font-weight: 500 !important;
  color: var(--white) !important;
  padding: 4px 12px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.cart_btn svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.cart_btn svg path {
  stroke: var(--white);
}

.user_btn {
  display: flex;
  align-items: center;
  background: transparent;
  font-size: 1em;
  font-weight: 500 !important;
  color: var(--text-color);
}

.user_btn:hover {
  color: var(--text-color);
}

.user_btn svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.user_btn svg path {
  stroke: var(--text-color);
}

.mobile_nav_location {
  display: none;
}

.mobile_nav_location p {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}

.mobile_nav_location_btn {
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--text-color);
}

@media screen and (max-width: 990px) {
  .nav_items ul li {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    box-shadow: none;
  }

  .logo img {
    width: 80px;
  }

  .user_btn svg {
    width: 24px;
    height: 24px;
  }

  .cart_btn {
    display: none;
  }

  .user_btn span {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .mobile_nav_location {
    display: block;
  }
}

/* Navbar End */
