@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/sfProDisplayRegular.OTF),
    url(../fonts/sfProDisplayMedium.OTF), url(../fonts/sfProDisplayBold.OTF);
}

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-color: #d15e14;
  --secondary-color: #137ac9;
  --text-color: #000000;
  --gray-text: rgba(0, 0, 0, 0.6);
  --stroke-color: #cdcfd3;
  --red: #ff4a4a;
  --white: #ffffff;
  --shadow-lg: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  --primary-font: "SF Pro Display";
  --secondary-font: "Poppins";
}

/* ====================
  Reset Default CSS End
  ==================== */

/* Hero Start */

#hero {
  width: 100%;
  background: url(../img/hero_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_content {
  padding: 60px 0;
}

.hero_content h1 {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
}

.hero_content p {
  color: var(--white);
  font-size: 18px;
  font-weight: 400 !important;
  margin-bottom: 0;
}

.hero_content p b {
  font-weight: 600 !important;
}

@media screen and (max-width: 990px) {
  /* #hero {
    background-position: left;
  } */

  .hero_content h1 {
    font-size: 28px;
  }

  .hero_content p {
    font-size: 16px;
  }
}

/* Hero End */

/* Products Tab Start */

#product_tab {
  background: rgba(204, 204, 204, 0.25);
}

.product_wrapper {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.search_box {
  width: 20%;
  border: 1px solid var(--stroke-color);
  height: 45px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.search_box svg {
  width: 24px;
  height: 24px;
}

.search_box svg path {
  stroke: rgba(0, 0, 0, 0.4);
}

.search_box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 8px;
}

.product_tab_items {
  position: relative;
  overflow-x: hidden;
  width: 80%;
}

.product_tab_items .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
}

.icon:first-child {
  left: 0;
  display: none;
  background: linear-gradient(90deg, #f3f3f3 70%, transparent);
}

.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #f3f3f3 70%, transparent);
}

.icon i {
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--primary-color);
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
}

.product_tab_items .tabs-box {
  display: flex;
  gap: 30px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}

.tabs-box .tab {
  cursor: pointer;
  font-family: var(--primary-font);
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.1em;
  white-space: nowrap;
  display: inline-block;
  padding: 16px 0px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}

.tabs-box .tab:hover {
  color: var(--primary-color);
}

.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}

.tabs-box .tab.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.tab_content {
  display: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.tab_content.active {
  display: block;
  animation: fade 1s 1;
  -webkit-animation: fade 1s 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .product_tab_items {
    width: calc(100% - 45px);
  }

  .search_box {
    width: 45px;
    height: 45px;
    padding: 0 12px;
    cursor: pointer;
  }

  .search_box svg {
    width: 24px;
    height: 24px;
  }

  .search_box input {
    display: none;
  }
}

/* Products Tab End */

/* Products Start */

#products {
  padding: 80px 0;
}

.product_head h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 24px;
}

.product_card {
  border: 2px solid rgba(209, 94, 20, 0.3);
  padding: 30px;
  cursor: pointer;
  margin-top: 24px;
  border-radius: 12px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.product_card.active,
.product_card:hover {
  border-color: var(--secondary-color);
}

.product_img {
  width: 180px;
  height: 180px;
  margin: auto;
}

.product_img img {
  width: 100%;
  height: 100%;
}

.product_card h2 {
  font-family: var(--primary-font);
  font-size: 22px;
  color: var(--text-color);
  font-weight: 700;
  margin: 30px 0 10px;
}

.product_card p {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--gray-text);
  font-weight: 500;
  margin-bottom: 0;
}

.launch_special_img {
  max-width: 300px;
}

.launch_special_img img {
  width: 100%;
  margin: 24px 0 80px;
}

@media screen and (max-width: 768px) {
  .product_head h1 {
    font-size: 2em;
    text-transform: uppercase;
  }
}

/* Products End */

/* Cart Popup Start */

.cart_modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* padding: 100px 0; */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_wrapper {
  position: relative;
  width: 850px;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--white);
  padding: 30px 30px 0;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.modal_wrapper::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.modal_wrapper::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.close_modal i {
  font-size: 1.2em;
}

.product_details {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--stroke-color);
}

.product_modal_img {
  width: 210px;
  height: 210px;
  flex-shrink: 0;
}

.product_modal_img img {
  width: 100%;
  height: 100%;
}

.product_modal_desc h1 {
  font-family: var(--primary-font);
  font-size: 26px;
  font-weight: 700;
  color: var(--text-color);
}

.product_modal_desc p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  max-width: 350px;
  color: var(--gray-text);
}

.product_modal_price {
  font-family: var(--primary-font);
  font-size: 26px;
  font-weight: 700;
  color: var(--primary-color);
}

@media screen and (max-width: 990px) {
  .modal_wrapper {
    width: calc(100% - 60px);
    margin: auto;
  }

  .product_details {
    display: block;
  }

  .product_modal_img {
    margin: 0 auto 30px;
  }
}

/* Product Size */

.product_modal_title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--text-color);
  margin: 40px 0 20px;
}

.product_size_cards {
  display: grid;
  grid-gap: 15px;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
}

.product_get_cards {
  display: grid;
  grid-gap: 15px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
}

.product_size_card {
  background-color: var(--white);
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 2px solid var(--white);
    cursor: pointer;
    width: 25px;
    height: 25px;
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  .radio::after {
    border: 2px solid var(--white);
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.75rem;
    left: 28%;
    position: absolute;
    top: 46%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 0.375rem;
  }

  .radio:checked {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
  }

  .radio:checked.radio::after {
    border: 2px solid var(--white);
    border-top: 0;
    border-left: 0;
  }
}

.product_size_details {
  border: 2px solid rgba(209, 94, 20, 0.3);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: border-color 0.2s ease-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.product_size_card:hover .product_size_details {
  border-color: var(--secondary-color);
}

.radio:checked ~ .product_size_details {
  border-color: var(--secondary-color);
}

.radio:disabled ~ .product_size_details {
  color: var(--white);
  cursor: default;
}

/* .radio:disabled ~ .product_size_details .product_size_name {
  background: var(--secondary-color) !important;
} */

.product_size_card:hover .radio:disabled ~ .product_size_details {
  box-shadow: none;
}

.product_size_card:hover .radio:disabled {
  border-color: var(--primary-color);
}

.product_size_details {
  text-align: center;
}

.product_size_name {
  width: 55px;
  height: 55px;
  margin: auto;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.product_size_name h2 {
  margin-bottom: 0;
  font-family: var(--primary-font);
  font-size: 26px;
  font-weight: 600;
  color: var(--gray-text);
}

.product_size_info h2 {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: var(--text-color);
  font-weight: 600;
  margin: 20px 0 8px;
}

.product_size_price {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-text);
}

.select_box_wrapper {
  background: #f1f1f1;
  padding: 10px;
  margin-top: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.select_box_wrapper select {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.1em;
  color: var(--gray-text);
}

.add_crust_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f1f1f1;
  padding: 10px;
  color: var(--gray-text);
  font-size: 18px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.add_crust_btn svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .product_size_cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .product_get_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Product Crust */

.crustRadio {
  font-size: inherit;
  position: absolute;
  display: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .crustRadio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 2px solid var(--white);
    cursor: pointer;
    width: 25px;
    height: 25px;
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  .crustRadio::after {
    border: 2px solid var(--white);
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.75rem;
    left: 28%;
    position: absolute;
    top: 46%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 0.375rem;
  }

  .crustRadio:checked {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
  }

  .crustRadio:checked.crustRadio::after {
    border: 2px solid var(--white);
    border-top: 0;
    border-left: 0;
  }
}

.product_crust_card {
  background-color: var(--white);
  position: relative;
  display: flex;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.checkedImg {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  flex-shrink: 0;
  display: none;
}

.checkedImg img {
  width: 100%;
  height: 100%;
}

.product_crust_details.active .checkedImg {
  display: block;
}

.crust_select_box {
  background: #f1f1f1;
  padding: 10px 30px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.crust_select_box select {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background: transparent;
  font-family: var(--primary-font);
  color: var(--gray-text);
}

.product_crust_details {
  width: 100%;
  border: 2px solid rgba(209, 94, 20, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 20px;
  margin-bottom: 15px;
  transition: border-color 0.2s ease-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.product_crust_details .crustRadio {
  font-size: inherit;
  margin: 0;
  position: relative !important;
}

.product_crust_card:hover .product_crust_details {
  border-color: var(--secondary-color);
}

.crustRadio:checked ~ .product_crust_details {
  border-color: var(--secondary-color);
}

.crustRadio:disabled ~ .product_crust_details {
  color: var(--white);
  cursor: default;
}

.product_crust_card:hover .crustRadio:disabled ~ .product_crust_details {
  box-shadow: none;
}

.product_crust_card:hover .crustRadio:disabled {
  border-color: var(--primary-color);
}

.product_crust_details {
  text-align: center;
}

.product_crust_info {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.product_crust_info h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.product_crust_img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.product_crust_img img {
  width: 100%;
  height: 100%;
}

.product_crust_btn {
  display: flex;
  align-items: center;
}

.add_btn {
  display: flex;
  align-items: center;
  padding: 8px 30px;
  background: #f1f1f1;
  color: var(--gray-text);
  font-size: 18px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.add_btn svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.product_cart {
  width: calc(100% + 60px);
  margin-left: -30px;
  margin-top: 30px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.12);
}

.product_qty {
  width: 50%;
  display: flex;
  align-items: center;
  user-select: none;
}

.product_qty_head {
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 16px;
  margin-right: 15px;
}

.product_qty_decrement {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background: var(--gray-text);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.product_qty_increment {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.product_qty_increment i,
.product_qty_decrement i {
  font-size: 13px;
  color: var(--white);
}

.product_qty_value {
  display: inline-block;
  text-align: center;
  width: 30px;
  font-family: var(--primary-font);
  font-size: 22px;
  font-weight: 600;
}

.product_cart_btn {
  width: 50%;
}

.product_add_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 500;
  background: var(--primary-color);
  color: var(--white);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

@media screen and (max-width: 575px) {
  .product_get_cards,
  .product_size_cards {
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Cart Popup End */

/* ==========================
Cart Added Notification Start
============================= */

.cart_notification {
  position: relative;
  background: var(--secondary-color);
  padding: 10px;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: none;
}

.cart_notification.active {
  display: flex;
}

.cart_notification svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.close_cart_notification {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 10px;
}

.close_cart_notification svg {
  width: 16px;
  height: 16px;
}

/* ==========================
Cart Added Notification End
============================= */

/* ==================
Bag Order Modal Start
================== */

.modal_title {
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcfd3;
}

.modal_title h1 {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
}

.modal_order_list_title {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 26px;
  font-weight: 700;
  margin: 30px 0 20px;
}

.modal_order_list {
  border: 1px solid var(--stroke-color);
  border-radius: 0 0 8px 8px;
}

.order_list_item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
}

.order_details_wrapper {
  display: flex;
  gap: 30px;
  width: 400px;
}

.order_list_item_price h1 {
  font-family: var(--primary-font);
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-color);
}

.order_list_btn {
  text-align: center;
}

.order_list_item_img {
  width: 130px;
  height: 130px;
  flex-shrink: 0;
}

.order_list_item_img img {
  width: 100%;
  height: 100%;
}

.order_list_item_info h2 {
  font-family: var(--primary-font);
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color);
}

.order_list_item_info p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-text);
  margin-bottom: 4px;
}

.order_list_btn {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.order_list_btn button {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  background: transparent;
}

.order_edit_btn {
  position: relative;
  color: var(--text-color);
  border-bottom: 3px solid var(--text-color);
}

.order_remove_btn {
  color: var(--red);
  border-bottom: 3px solid var(--red);
}

.order_edit_btn::after {
  position: absolute;
  content: "";
  width: 1px;
  top: 0;
  left: calc(100% + 15px);
  bottom: 0;
  background-color: var(--stroke-color);
}

.modal_order_counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  user-select: none !important;
}

.modal_order_counter div {
  padding: 8px;
  text-align: center;
}

.modal_order_counter_val {
  border: 1px solid var(--stroke-color);
  border-bottom: none;
  font-family: var(--primary-font);
  font-size: 22px;
  font-weight: 700;
}

.modal_order_increment,
.modal_order_decrement {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid var(--stroke-color);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.modal_order_increment:hover,
.modal_order_decrement:hover {
  color: var(--primary-color);
}

/* Essential Pack */

.essentials_pack_item {
  border: 2px solid rgba(209, 94, 20, 0.3);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.essentials_pack_qty {
  display: flex;
  align-items: center;
}

.essentials_pack_wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.essentials_pack_img {
  width: 50px;
  height: 80px;
  flex-shrink: 0;
}

.essentials_pack_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.essentials_pack_info h2 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 20px;
  color: var(--text-color);
}

.essentials_pack_info {
  max-width: 300px;
}

.essentials_pack_info p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-text);
  margin-bottom: 0;
}

.essentials_pack_head {
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 16px;
  margin-right: 15px;
}

.essentials_pack_decrement {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background: var(--gray-text);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.essentials_pack_increment {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.essentials_pack_increment i,
.essentials_pack_decrement i {
  font-size: 13px;
  color: var(--white);
}

.essentials_pack_value {
  display: inline-block;
  text-align: center;
  width: 30px;
  font-family: var(--primary-font);
  font-size: 22px;
  font-weight: 600;
}

.bag_modal_total_price {
  width: 100%;
}

.bag_price_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bag_price_item span {
  display: inline-block;
}

.bag_price_title {
  font-family: var(--primary-font);
  font-size: 18px;
  color: var(--gray-text);
  font-weight: 500;
}

.bag_price {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  font-family: var(--text-color);
}

.bag_checkout_btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bag_checkout_btn button {
  display: block;
  width: 50%;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--primary-font);
  padding: 8px;
  background: transparent;
}

.add_item_btn {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 30px 0 0 30px;
}

.checkout_btn {
  border: 2px solid var(--primary-color);
  color: var(--white);
  background: var(--primary-color) !important;
  border-radius: 0 30px 30px 0;
}

.sauces_add {
  margin-top: 20px;
}

.accordion_wrapper .accordion-content {
  background: transparent;
  border-bottom: 1px solid var(--stroke-color);
  overflow: hidden;
}
.accordion-content.open {
  padding-bottom: 10px;
}
.accordion-content header {
  display: flex;
  min-height: 60px;
  cursor: pointer;
  font-family: var(--primary-font);
  align-items: center;
  transition: all 0.2s linear;
}

.accordion-content header i {
  transition: 0.5s;
  margin-right: 10px;
}

.accordion-content.open header i {
  transform: rotate(180deg);
}

.accordion-content header .title {
  font-size: 26px !important;
  font-weight: 700;
  color: var(--text-color);
}
.accordion-content header i {
  font-size: 20px;
  color: var(--text-color);
}
.accordion-content .description {
  height: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  transition: all 0.2s linear;
}

/* ==================
Bag Order Modal End
================== */

/* ===========
Checkout Start
=============*/

#checkout {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background: #f5f5f5;
  padding-bottom: 60px;
}

.checkout_wrapper {
  position: relative !important;
}

.checkout_info {
  height: calc(100vh - 180px);
  overflow-y: auto;
}

.checkout_info::-webkit-scrollbar {
  display: none;
}

.checkout_head h1 {
  font-size: 50px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-weight: 700;
  margin: 50px 0;
}

.user_info {
  background: var(--white);
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid var(--stroke-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.user_info_head h2 {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--stroke-color);
}

.user_info_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.user_info_details p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
  margin-bottom: 2px;
}

.user_info_edit_btn {
  background: transparent;
  color: var(--primary-color);
  font-weight: 500;
  font-family: var(--primary-font);
  padding: 6px 20px;
}

.handoff_details {
  background: var(--white);
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid var(--stroke-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.handoff_head h2 {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
}

.handoff_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--stroke-color);
}

.handoff_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.handoff_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  padding: 6px 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.handoff_btn svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.handoff_delivery_btn {
  background: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.handoff_pickup_btn {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--white);
}

.handoff_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.handoff_item_wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Checkout Product */

.checkout_product {
  position: relative;
  width: 100%;
  height: calc(100vh - 180px);
  background: var(--white);
  padding: 20px;
  border: 1px solid var(--stroke-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* =========
Checkout End
===========*/
