@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-color: #d15e14;
  --secondary-color: #137ac9;
  --text-color: #000000;
  --gray-text: rgba(0, 0, 0, 0.6);
  --stroke-color: #cdcfd3;
  --red: #ff4a4a;
  --white: #ffffff;
  --shadow-lg: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  --primary-font: "Roboto";
  --secondary-font: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

p {
  font-family: var(--primary-font);
  margin-top: 0;
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--primary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--primary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--primary-font);
}

input {
  outline: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--primary-font);
}

/* ====================
  Reset Default CSS End
  ==================== */

/* Sign In Email Start */

#sign_in_email {
  width: 100%;
  background: #f5f5f5;
}

#sign_in_email .sign_in_wrapper {
  min-height: 100vh;
  padding: 100px 0;
}

#sign_in_email .sign_in_wrapper .sign_in_contant {
  max-width: 800px;
  margin: auto;
  background: var(--white);
  border-radius: 12px;
  padding: 80px 12px;
}

#sign_in_email .sign_in_contant .header {
  text-align: center;
  margin-bottom: 40px;
}

#sign_in_email .sign_in_contant .header h1 {
  font-size: 26px;
  font-weight: 600;
}

#sign_in_email .sign_in_contant form {
  max-width: 450px;
  margin: auto;
}

#sign_in_email .sign_in_contant label {
  font-weight: 600;
}

#sign_in_email .sign_in_contant input {
  width: 100%;
  font-size: 16px;
  color: var(--gray-text);
  border-radius: 6px;
  border: 1px solid var(--stroke-color);
  padding: 10px 0px 10px 20px;
  margin-top: 6px;
}

#sign_in_email .sign_in_contant form .Passcode_btn {
  display: inline-block;
  text-align: center;
  width: 100% !important;
  font-size: 16px;
  font-family: var(--primary-font);
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: var(--white);
  border-radius: 6px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#sign_in_email .sign_in_contant form .Passcode_btn.show {
  background: var(--primary-color);
  color: var(--white);
}

#sign_in_email .sign_in_contant form .Passcode_btn.show:hover {
  background: #ad4708;
}

#sign_in_email .sign_in_contant form .numbar_btn {
  display: inline-block;
  text-align: center;
  width: 100% !important;
  font-size: 16px;
  font-family: var(--primary-font);
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  color: var(--primary-color);
  font-weight: 600;
  border: 1px solid #d15e14;
  background: transparent;
  border-radius: 6px;
  transition: 0.5s;
}

#sign_in_email .sign_in_contant form .numbar_btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

/* Sign In Email End */

/* Sign In Phone Start */

#sign_in_phone {
  width: 100%;
  background: #f5f5f5;
}

#sign_in_phone .sign_in_wrapper {
  min-height: 100vh;
  padding: 100px 0;
}

#sign_in_phone .sign_in_wrapper .sign_in_contant {
  max-width: 800px;
  margin: auto;
  background: var(--white);
  border-radius: 12px;
  padding: 80px 12px;
}

#sign_in_phone .sign_in_contant .header {
  text-align: center;
  margin-bottom: 40px;
}

#sign_in_phone .sign_in_contant .header h1 {
  font-size: 26px;
  font-weight: 600;
}

#sign_in_phone .sign_in_contant form {
  max-width: 450px;
  margin: auto;
}

#sign_in_phone .sign_in_contant label {
  font-weight: 600;
}

#sign_in_phone .sign_in_contant input {
  width: 100%;
  font-size: 16px;
  color: var(--gray-text);
  border-radius: 6px;
  border: 1px solid var(--stroke-color);
  padding: 10px 0px 10px 20px;
  margin-top: 6px;
}

#sign_in_phone input[type="number"]::-webkit-outer-spin-button,
#sign_in_phone input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sign_in_phone .sign_in_contant form .Passcode_btn {
  width: 100% !important;
  font-size: 16px;
  font-family: var(--primary-font);
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: var(--white);
  border-radius: 6px;
}

#sign_in_phone .sign_in_contant form .Passcode_btn.show {
  background: var(--primary-color);
  color: var(--white);
}

#sign_in_phone .sign_in_contant form .Passcode_btn.show:hover {
  background: #ad4708;
}

#sign_in_phone .sign_in_contant form .numbar_btn {
  display: inline-block;
  text-align: center;
  width: 100% !important;
  font-size: 16px;
  font-family: var(--primary-font);
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  color: var(--primary-color);
  font-weight: 600;
  border: 1px solid #d15e14;
  background: transparent;
  border-radius: 6px;
  transition: 0.5s;
}

#sign_in_phone .sign_in_contant form .numbar_btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

/* Sign In Phone End */

/* Sign Up Start */

#sign_up {
  width: 100%;
  background: #f5f5f5;
}

#sign_up .sign_up_wrapper {
  min-height: 100vh;
  padding: 100px 0;
}

#sign_up .sign_up_wrapper .sign_up_contant {
  max-width: 800px;
  margin: auto;
  background: var(--white);
  border-radius: 12px;
  padding: 80px 12px;
}

#sign_up .sign_up_contant .header {
  text-align: center;
  margin-bottom: 40px;
}

#sign_up .sign_up_contant .header h1 {
  font-size: 26px;
  font-weight: 600;
}

#sign_up .sign_up_contant form {
  max-width: 460px;
  margin: auto;
}

#sign_up .sign_up_contant label {
  font-weight: 600;
}

#sign_up .sign_up_contant input {
  width: 100%;
  font-size: 16px;
  color: var(--gray-text);
  border-radius: 6px;
  border: 1px solid var(--stroke-color);
  padding: 10px 0px 10px 20px;
  margin-top: 6px;
}
#sign_up .sign_up_contant .password {
  border: 1px solid var(--stroke-color);
  display: flex;
  align-items: center;
  border-radius: 6px;
}
#sign_up .sign_up_contant .password i {
  margin-right: 12px;
  cursor: pointer;
  color: var(--gray-text);
}
#sign_up .sign_up_contant .password input {
  border: none !important;
  margin: 0px;
}

#sign_up input[type="number"]::-webkit-outer-spin-button,
#sign_up input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sign_up .sign_up_contant form .sign_btn {
  width: 100% !important;
  font-size: 16px;
  font-family: var(--primary-font);
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.25);
  color: var(--white);
  border-radius: 6px;
  margin-bottom: 25px;
  transition: 0.5s;
}

#sign_up .sign_up_contant form .sign_btn:hover {
  background: var(--primary-color);
}

#sign_up .sign_up_contant form .check {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#sign_up .sign_up_contant form p {
  margin: 0px;
  text-align: center;
  color: var(--gray-text);
}

#sign_up .sign_up_contant form .checkbox {
  width: 16px !important;
  height: 16px !important;
  margin: 0px 10px 0px 0px;
}

/* Sign Up End */

/* Verification Code Start */

#verification {
  width: 100%;
  background: #f5f5f5;
}

#verification .verification_wrapper {
  min-height: 100vh;
  padding: 100px 0;
}

#verification .verification_wrapper .verification_contant {
  max-width: 800px;
  margin: auto;
  background: var(--white);
  border-radius: 12px;
  padding: 80px 12px;
}

#verification .verification_contant .header {
  text-align: center;
  margin-bottom: 20px;
}

#verification .verification_contant .header h1 {
  font-size: 26px;
  font-weight: 600;
}

#verification .verification_contant .header h2 {
  font-size: 16px;
  margin-bottom: 16px;
}

#verification .verification_contant .header span {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

#verification .verification_contant form {
  max-width: 450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#verification .verification_contant input {
  max-width: 68px;
  height: 68px;
  font-size: 28px;
  padding: 10px;
  color: var(--text-color);
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid var(--stroke-color);
  text-align: center;
}

#verification input[type="number"]::-webkit-outer-spin-button,
#verification input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#verification .verification_contant .button_item {
  max-width: 450px;
  margin: auto;
}

#verification .verification_contant .passcode_btn {
  width: 100% !important;
  font-size: 16px;
  font-family: var(--primary-font);
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.25);
  color: var(--white);
  border-radius: 6px;
  transition: 0.5s;
}

#verification .verification_contant .passcode_btn.show {
  background: var(--primary-color);
}

@media screen and (max-width: 575px) {
  #verification .verification_contant input {
    max-width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 450px) {
  #verification .verification_contant input {
    max-width: 45px;
    height: 45px;
  }
}

/* Verification Code End */

/* OTP (Wrong) Start */

#otp_wrong {
  width: 100%;
  background: #f5f5f5;
}

#otp_wrong .verification_wrapper {
  min-height: 100vh;
  padding: 100px 0;
}

#otp_wrong .verification_wrapper .verification_contant {
  max-width: 800px;
  margin: auto;
  background: var(--white);
  border-radius: 12px;
  padding: 80px 12px;
}

#otp_wrong .verification_contant .header {
  text-align: center;
  margin-bottom: 20px;
}

#otp_wrong .verification_contant .header h1 {
  font-size: 26px;
  font-weight: 600;
}

#otp_wrong .verification_contant .header h2 {
  font-size: 16px;
  margin-bottom: 16px;
}

#otp_wrong .verification_contant .header span {
  color: var(--red);
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

#otp_wrong .verification_contant form {
  max-width: 450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#otp_wrong .verification_contant input {
  max-width: 68px;
  height: 68px;
  font-size: 28px;
  padding: 10px;
  color: var(--text-color);
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid var(--red);
  text-align: center;
}

#otp_wrong input[type="number"]::-webkit-outer-spin-button,
#otp_wrong input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#otp_wrong .verification_contant .button_item {
  max-width: 450px;
  margin: auto;
}

#otp_wrong .verification_contant .button_item h3 {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  font-size: 16px;
  color: var(--red);
}

#otp_wrong .verification_contant .button_item svg {
  margin-right: 8px !important;
}

#otp_wrong .verification_contant .Passcode_btn {
  width: 100% !important;
  font-size: 16px;
  font-family: var(--primary-font);
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.25);
  color: var(--white);
  border-radius: 6px;
  transition: 0.5s;
}

#otp_wrong .verification_contant .Passcode_btn:hover {
  background: var(--primary-color);
}

@media screen and (max-width: 575px) {
  #otp_wrong .verification_contant input {
    max-width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 450px) {
  #otp_wrong .verification_contant input {
    max-width: 45px;
    height: 45px;
  }
}

/* OTP (Wrong) End */

/* Verified Start */
#verified {
  width: 100%;
  background: #f5f5f5;
}

#verified .verified_wrapper {
  min-height: 100vh;
  padding: 100px 0;
}

#verified .verified_wrapper .verified_contant {
  max-width: 800px;
  margin: auto;
  background: var(--white);
  border-radius: 12px;
  padding: 80px 12px;
}

#verified .verified_contant .header {
  text-align: center;
  margin-bottom: 20px;
}

#verified .verified_contant .header h1 {
  font-size: 26px;
  font-weight: 600;
}
#verified .verified_contant .header p {
  margin: 0px;
}

#verified .verified_contant .verified_item {
  position: relative;
  display: flex;
  justify-content: center;
}

.verify_animation {
  position: absolute;
  top: 32px;
}

#verified .verified_contant .button_item {
  max-width: 450px;
  margin: auto;
}

#verified .verified_contant .Passcode_btn {
  width: 100% !important;
  font-size: 16px;
  font-family: var(--primary-font);
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: var(--white);
  border-radius: 6px;
  transition: 0.5s;
}

#verified .verified_contant .Passcode_btn.show {
  background: var(--primary-color);
  color: var(--white);
}

#verified .verified_contant .Passcode_btn.show:hover {
  background: #ad4708;
}

/* Verified End */

/* Home1 Start */

#home1 .google_map {
  position: relative;
  height: calc(100vh - 101px);
}

#home1 .google_map iframe {
  width: 100%;
  height: 100vh;
  border: none !important;
  margin: 0px !important;
}

#home1 .google_map .search_bar {
  width: 450px;
  height: calc(100vh - 20px);
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  border-radius: 6px;
  background: white;
  overflow: hidden;
}
#home1 .google_map .search_bar_item {
  width: 100%;
  height: auto !important;
}
#home1 .google_map .search_bar .search input {
  width: 100%;
  border: none;
  font-size: 16px !important;
  color: var(--gray-text);
}

#home1 .google_map .search_bar .search {
  border: 1px solid var(--stroke-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 30px 30px 30px;
}
#home1 .google_map .search_bar .search input {
  font-family: var(--primary-font);
  font-size: 13px !important;
}

#home1 .google_map .search_bar .search i {
  margin-left: 20px;
  color: var(--gray-text);
}

#home1 .google_map .search_bar .search button {
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 8px 40px;
  color: var(--white);
  font-weight: 400;
  background: var(--primary-color);
  transition: 0.4s;
}
#home1 .google_map .search_bar .search button:hover {
  background: #ad4708;
}

#home1 .google_map .locations .heading h1 {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 12px;
}

#home1 .google_map .location_place::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  border-radius: 30px;
}

.location_place::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 30px;
}

#home1 .google_map .location_place {
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

#home1 .google_map .locations {
  padding: 20px 30px 20px 30px;
  border-bottom: 1px solid var(--stroke-color);
}

#home1 .google_map .locations .location_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#home1 .google_map .locations .place_img {
  width: 100px;
  border: 2px solid #000000;
  border-radius: 8px;
}

#home1 .google_map .locations .place_img img {
  width: 100%;
  object-fit: cover;
  background-position: center;
}

#home1 .google_map .locations .text {
  width: calc(100% - 190px);
}

#home1 .google_map .locations .text p {
  font-size: 14px;
  background-position: center;
  margin: 0px;
  color: var(--gray-text);
}

#home1 .google_map .locations .button {
  width: 90px;
}

#home1 .delivery_btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 14px;
  padding: 4px 2px;
  transition: 0.5s;
}

#home1 .google_map .locations .button .delivery_btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

#home1 .google_map span {
  font-size: 14px;
  color: var(--gray-text);
  font-style: italic;
  margin-top: 6px;
  display: inline-block;
}

@media screen and (max-width: 576px) {
  #home1 .google_map iframe {
    display: none;
  }

  #home1 .google_map .search_bar {
    width: calc(100% - 20px) !important;
    height: auto;
    top: 10px;
    left: 10px;
    right: 10px;
  }

  #home1 .google_map .search_bar {
    width: calc(100% - 40px);
    margin: auto;
  }

  #home1 .google_map .search_bar .search {
    margin: 20px 10px;
  }

  #home1 .google_map .search_bar .search button {
    font-size: 16px;
    align-items: center;
    padding: 6px 20px;
  }

  #home1 .google_map .search_bar .search input {
    width: 100%;
    border: none;
    font-size: 16px !important;
  }

  #home1 .google_map .locations .text p {
    font-size: 16px;
    margin: 10px 0;
  }

  #home1 .google_map .locations .text {
    width: auto;
  }

  #home1 .google_map .locations .button {
    width: 70px;
  }

  #home1 .google_map .locations .place_img {
    width: 100px;
  }

  #home1 .google_map .locations .location_item {
    display: block;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  #home1 .google_map .locations .button {
    width: auto;
  }

  #home1 .google_map .locations .button .delivery_btn {
    font-size: 16px;
    white-space: nowrap;
    padding: 4px 10px;
  }

  #home1 .google_map .locations .location_item {
    width: 100%;
  }
}

/* Home1 End */

/* Home2 Start */
#home2 .google_map {
  position: relative;
}

#home2 .google_map iframe {
  width: 100%;
  height: 100vh !important;
  border: none !important;
  margin: 0px !important;
}

#home2 .google_map .search_bar {
  width: 400px;
  position: absolute;
  top: 112px;
  left: 10px;
  border-radius: 6px;
  background: white;
}
#home2 .google_map .search_bar_item {
  width: 100%;
  padding: 30px 30px 10px 30px;
}
#home2 .google_map .search_bar .search input {
  width: 100%;
  border: none;
  font-size: 16px !important;
  color: var(--gray-text);
}

#home2 .google_map .search_bar .search {
  border: 1px solid var(--stroke-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#home2 .google_map .search_bar .search i {
  margin-left: 20px;
  color: var(--gray-text);
}

#home2 .google_map .search_bar .search button {
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 8px 40px;
  color: var(--white);
  font-weight: 400;
  background: var(--primary-color);
}

#home2 .google_map .locations .heading h1 {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 12px;
}

#home2 .google_map .locations {
  padding: 20px 0px 5px 0px;
}

#home2 .google_map .locations .location_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#home2 .google_map .locations .place_img {
  width: 80px;
}

#home2 .google_map .locations .place_img img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

#home2 .google_map .locations .text {
  width: calc(100% - 160px);
}

#home2 .google_map .locations .text p {
  font-size: 14px;
  background-position: center;
  margin: 0px;
  color: var(--gray-text);
}

#home2 .google_map .locations .button {
  width: 80px;
}

#home2 .google_map .locations .button .delivery_btn {
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 30px;
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 14px;
  padding: 4px 0;
  transition: 0.5s;
}

#home2 .google_map .locations .button .delivery_btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

#home2 .google_map .locations .button .pickup_btn {
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 30px;
  background: var(--primary-color);
  color: var(--white);
  margin-top: 10px;
  font-size: 14px;
  padding: 4px 0;
  transition: 0.5s;
}

#home2 .google_map span {
  font-size: 12px;
  color: var(--gray-text);
}

#home2 .accordion_wrapper .accordion-content {
  background: transparent;
  border-top: 1px solid var(--stroke-color);
  overflow: hidden;
}
#home2 .accordion-content.open {
  padding-bottom: 10px;
}
#home2 .accordion-content header {
  display: flex;
  min-height: 60px;
  padding: 0 30px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
#home2 .accordion-content.open header {
  height: 70px;
}

#home2 .accordion-content header i {
  transition: 0.5s;
}

#home2 .accordion-content.open header i {
  transform: rotate(180deg);
}

#home2 .accordion-content.open header i,
#home2 .accordion-content.open header span {
  color: var(--primary-color) !important;
}
#home2 .accordion-content header .title {
  font-size: 16px !important;
  font-weight: 500;
  color: #333;
}
#home2 .accordion-content header i {
  font-size: 15px;
  color: #333;
}
#home2 .accordion-content .description {
  height: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  padding: 0 30px;
  transition: all 0.2s linear;
}
#home2 .accordion-content .description .locations {
  padding: 0px 0px 15px 0px !important;
}
#home2 .accordion-content .description .locations span {
  display: inline-block;
  margin-top: 10px !important;
}

@media screen and (max-width: 575px) {
  #home2 .google_map .search_bar {
    width: calc(100% - 40px);
    margin: auto;
  }

  #home2 .google_map .search_bar .search button {
    font-size: 14px;
    align-items: center;
    padding: 6px 20px;
  }

  #home2 .google_map .search_bar .search input {
    width: 100%;
    border: none;
    font-size: 12px !important;
  }

  #home2 .google_map .locations .place_img {
    width: 55px;
  }

  #home2 .google_map .locations .text p {
    font-size: 11px;
  }

  #home2 .google_map .locations .text {
    width: calc(100% - 110px);
  }

  #home2 .google_map .locations .button {
    width: 55px;
  }

  #home2 .google_map .locations .button .pickup_btn {
    margin-top: 8px;
    font-size: 12px;
    padding: 4px 0;
  }
  #home2 .google_map .locations .button .delivery_btn {
    font-size: 12px;
    padding: 4px 0;
  }

  #home2 .google_map .locations .location_item {
    gap: 4px;
  }
}

/* Home2 End */

/* Account Start */

#account {
  width: 100%;
  height: 100vh;
}

#account .account_item {
  padding: 100px 0;
}

#account .account_item .profile {
  background: rgba(204, 204, 204, 0.15);
  border-radius: 8px;
}

#account .account_item .profile_img {
  position: relative;
  width: 70px;
  height: 70px;
  background: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#account .account_item .profile_img .account_img_btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}

#account .account_item .profile_heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

#account .account_item .profile_heading h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

#account .account_item .profile_item ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 12px 0px 12px 40px;
}

#account .account_item .profile_item a.active {
  color: var(--primary-color);
}

#account .account_item .profile_item a {
  font-size: 20px;
  color: var(--gray-text);
  font-weight: 500;
  transition: 0.5s;
}

#account .account_item .profile_item a:hover {
  color: var(--primary-color);
}

#account .account_item .profile_item .version {
  margin: 140px 0px 30px 0px;
}

#account .account_item .profile_item .version span {
  display: inline-block;
  font-size: 14px;
  font-family: var(--primary-font);
  color: rgba(0, 0, 0, 0.7);
  padding-left: 40px;
  padding-bottom: 40px;
}

#account .identity {
  padding-left: 20px;
}

#account .identity .title h1 {
  font-size: 32px;
  font-weight: 800;
}

#account .identity .title p {
  font-size: 16px;
  color: var(--gray-text);
  margin-bottom: 40px;
}

#account input[type="number"]::-webkit-outer-spin-button,
#account input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#account form label {
  font-size: 16px;
  color: var(--gray-text);
  margin-bottom: 8px;
}

#account form label span {
  font-size: 16px;
  color: var(--primary-color);
}

#account form input {
  font-family: var(--primary-font) !important;
  width: 100%;
  padding: 10px 0px 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  border: 1px solid var(--stroke-color);
  margin-bottom: 18px;
}

#account form .form_item {
  position: relative;
}

#account form .form_item img {
  position: absolute;
  top: 10px !important;
  right: 15px;
}

.datepicker {
  display: block !important;
}

.datepicker_input {
  display: block;
  font-family: var(--primary-font) !important;
  width: 100% !important;
  padding: 10px 0px 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  border: 1px solid var(--stroke-color);
  margin-bottom: 18px;
}

#account form input::placeholder {
  font-size: 16px;
  color: var(--gray-text);
  font-size: 16px;
  font-family: var(--primary-font);
}

#account .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#account .button .save_btn {
  color: var(--white);
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.3s;
}
#account .button .save_btn:hover {
  background: #a84a0f;
}

#account .button a {
  color: var(--secondary-color);
}

@media screen and (max-width: 992px) {
  #account .identity {
    padding-left: 0px !important;
  }
}
@media screen and (max-width: 575px) {
  #account .button .save_btn {
    padding: 8px 16px;
    font-size: 14px;
  }
  #account .button a {
    font-size: 13px;
  }
}

/* Account End */

/* Cards Start */

#cards {
  width: 100%;
  height: 100vh;
}

#cards .account_item {
  font-family: var(--primary-font) !important;
  padding: 100px 0;
}

#cards .account_item .profile {
  background: rgba(204, 204, 204, 0.15);
  border-radius: 8px;
}

#cards .account_item .profile_img {
  position: relative;
  width: 70px;
  height: 70px;
  background: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards .account_item .profile_heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

#cards .account_item .profile_heading h1 {
  font-size: 24px;
  font-family: var(--primary-font);
  font-weight: bold;
  margin: 0px;
}

#cards .account_item .profile_item ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 12px 0px 12px 40px;
}

#cards .account_item .profile_item a.active {
  color: var(--primary-color);
}

#cards .account_item .profile_item a {
  font-size: 20px;
  color: var(--gray-text);
  font-weight: 500;
  transition: 0.5s;
}

#cards .account_item .profile_item a:hover {
  color: var(--primary-color);
}

#cards .account_item .profile_item .version {
  margin: 140px 0px 30px 0px;
}

#cards .account_item .profile_item .version span {
  display: inline-block;
  font-size: 14px;
  font-family: var(--primary-font);
  color: rgba(0, 0, 0, 0.7);
  padding-left: 40px;
  padding-bottom: 40px;
}

#cards .identity {
  padding-left: 20px;
}

#cards .identity .title h1 {
  font-size: 32px;
  font-weight: 500px;
}

#cards .identity .title p {
  font-size: 16px;
  color: var(--gray-text);
  margin-bottom: 40px;
}

#cards input[type="number"]::-webkit-outer-spin-button,
#cards input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cards .card_item .heading {
  display: flex;
  align-items: center;
  border: none;
}

#cards .card_item .heading h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  margin: 0px;
  padding-left: 13px;
}

#cards .card_item .card_details {
  max-width: 320px;
  border: 1px solid var(--stroke-color);
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

#cards .card_item .card_details h2 {
  color: var(--text-color);
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
}

#cards .card_item .card_details .card_expire {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

#cards .card_item .card_details .card_expire h3 {
  font-size: 16px;
  color: var(--text-color);
  margin: 0px;
  font-weight: 600;
}

#cards .card_item .card_details .card_expire h4 {
  font-size: 14px;
  color: var(--text-color);
  margin: 0px;
  padding-left: 15px;
}

#cards .card_item .card_details .card_expire span {
  font-size: 17px;
  color: var(--stroke-color);
  margin: 0px 15px;
}

#cards .card_item .card_details .action_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cards .card_item .action_btn .default_btn {
  font-size: 12px;
  background: var(--secondary-color);
  color: var(--white);
  padding: 4px 12px;
  border-radius: 30px;
}

#cards .card_item .action_btn .edit_btn {
  background: transparent;
}

#cards .card_item .action_btn .edit_btn span {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  line-height: 12px;
  margin-left: 6px;
}

#cards .card_item .action_btn .remove_btn {
  background: transparent;
  margin-left: 10px;
}

#cards .card_item .action_btn .remove_btn span {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  color: var(--red);
  border-bottom: 1px solid var(--red);
  line-height: 12px;
  margin-left: 6px;
}

#cards .card_item .card_details .action_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cards .card_item .add_new_btn {
  display: inline-block;
  font-size: 18px;
  background: transparent;
  color: var(--secondary-color);
  margin-bottom: 40px;
}

#cards .card_item .add_new_btn span {
  font-size: 14px;
  background: transparent;
  border-bottom: 1px solid var(--secondary-color);
  line-height: 14px;
}

#cards .identity .title2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#cards .identity .title2 h4 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  margin: 0px;
  padding-left: 13px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  #cards .identity {
    padding-left: 0px;
  }
}

/* Cards End */

/* New Credit Card Start */

#new_card {
  width: 100%;
  height: 100vh;
}

#new_card .new_card_item {
  padding: 100px 0;
}

#new_card .new_card_item .profile {
  background: rgba(204, 204, 204, 0.15);
  border-radius: 8px;
}

#new_card .new_card_item .profile_img {
  position: relative;
  width: 70px;
  height: 70px;
  background: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new_card .new_card_item .profile_img .account_img_btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#new_card .new_card_item .profile_heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

#new_card .new_card_item .profile_heading h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

#new_card .new_card_item .profile_item ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 12px 0px 12px 40px;
}

#new_card .new_card_item .profile_item a.active {
  color: var(--primary-color);
}

#new_card .new_card_item .profile_item a {
  font-size: 20px;
  color: var(--gray-text);
  font-weight: 500;
  transition: 0.5s;
}

#new_card .new_card_item .profile_item a:hover {
  color: var(--primary-color);
}

#new_card .new_card_item .profile_item .version {
  margin: 140px 0px 30px 0px;
}

#new_card .new_card_item .profile_item .version span {
  display: inline-block;
  font-size: 14px;
  font-family: var(--primary-font);
  color: rgba(0, 0, 0, 0.7);
  padding-left: 40px;
  padding-bottom: 40px;
}

#new_card .identity {
  padding-left: 20px;
}

#new_card .identity .title h1 {
  font-size: 32px;
  font-weight: 800;
}

#new_card .identity .title p {
  font-size: 16px;
  color: var(--gray-text);
  margin-bottom: 40px;
}

#new_card input[type="number"]::-webkit-outer-spin-button,
#new_card input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#new_card form label {
  font-size: 16px;
  color: var(--gray-text);
  margin-bottom: 8px;
}

#new_card form label span {
  font-size: 16px;
  color: var(--primary-color);
}

#new_card form .form_item {
  position: relative;
}

#new_card form .form_item img {
  position: absolute;
  top: 10px !important;
  right: 15px;
}

#new_card .datepicker {
  display: block !important;
}

#new_card .datepicker_input {
  display: block;
  font-family: var(--primary-font) !important;
  width: 100% !important;
  padding: 10px 0px 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  border: 1px solid var(--stroke-color);
  margin-bottom: 18px;
}

#new_card form input {
  width: 100%;
  padding: 10px 0px 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  border: 1px solid var(--stroke-color);
  margin-bottom: 18px;
}

#new_card form input::placeholder {
  font-size: 16px;
  color: var(--gray-text);
  font-size: 16px;
  font-family: var(--primary-font);
}

#new_card .check {
  display: flex;
  align-items: center;
}
#new_card .check .checkbox {
  width: 15px;
  height: 15px;
}

#new_card .check label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0px;
  padding-left: 10px;
}

#new_card .information {
  font-size: 16px;
  color: var(--gray-text);
  margin-top: 30px;
}

#new_card .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#new_card .button .credit_btn {
  color: var(--white);
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.4s;
}

#new_card .button .credit_btn.show {
  color: var(--white);
  background: var(--primary-color);
}

#new_card .button .credit_btn.show:hover {
  background: #ad4708;
}

@media screen and (max-width: 992px) {
  #new_card .identity {
    padding-left: 0px !important;
  }
}
@media screen and (max-width: 575px) {
  #new_card .button .save_btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* New Credit Card End */

/* New Gift Card Start */

#gift_card {
  width: 100%;
  height: 100vh;
}

#gift_card .gift_card_item {
  padding: 100px 0;
}

#gift_card .gift_card_item .profile {
  background: rgba(204, 204, 204, 0.15);
  border-radius: 8px;
}

#gift_card .gift_card_item .profile_img {
  position: relative;
  width: 70px;
  height: 70px;
  background: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gift_card .gift_card_item .profile_heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

#gift_card .gift_card_item .profile_heading h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

#gift_card .gift_card_item .profile_item ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 12px 0px 12px 40px;
}

#gift_card .gift_card_item .profile_item a.active {
  color: var(--primary-color);
}

#gift_card .gift_card_item .profile_item a {
  font-size: 20px;
  color: var(--gray-text);
  font-weight: 500;
  transition: 0.5s;
}

#gift_card .gift_card_item .profile_item a:hover {
  color: var(--primary-color);
}

#gift_card .gift_card_item .profile_item .version {
  margin: 140px 0px 30px 0px;
}

#gift_card .gift_card_item .profile_item .version span {
  display: inline-block;
  font-size: 14px;
  font-family: var(--primary-font);
  color: rgba(0, 0, 0, 0.7);
  padding-left: 40px;
  padding-bottom: 40px;
}

#gift_card .identity {
  padding-left: 20px;
}

#gift_card .identity .title h1 {
  font-size: 32px;
  font-weight: 800;
}

#gift_card .identity .title p {
  font-size: 16px;
  color: var(--gray-text);
  margin-bottom: 40px;
}

#gift_card input[type="number"]::-webkit-outer-spin-button,
#gift_card input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#gift_card form label {
  font-size: 16px;
  color: var(--gray-text);
  margin-bottom: 8px;
}

#gift_card form label span {
  font-size: 16px;
  color: var(--primary-color);
}

#gift_card form .form_item {
  position: relative;
}

#gift_card form .form_item img {
  position: absolute;
  top: 10px !important;
  right: 15px;
}

.datepicker {
  display: block !important;
}

.datepicker_input {
  display: block;
  font-family: var(--primary-font) !important;
  width: 100% !important;
  padding: 10px 0px 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  border: 1px solid var(--stroke-color);
  margin-bottom: 18px;
}

#gift_card form input {
  width: 100%;
  padding: 10px 0px 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  border: 1px solid var(--stroke-color);
  margin-bottom: 18px;
}

#gift_card form input::placeholder {
  font-size: 16px;
  color: var(--gray-text);
  font-size: 16px;
  font-family: var(--primary-font);
}

#gift_card .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#gift_card .button .gift_btn {
  color: var(--white);
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.4s;
}

#gift_card .button .gift_btn.show {
  color: var(--white);
  background: var(--primary-color);
}

#gift_card .button .gift_btn.show:hover {
  background: #ad4708;
}

@media screen and (max-width: 992px) {
  #gift_card .identity {
    padding-left: 0px !important;
  }
}
@media screen and (max-width: 575px) {
  #gift_card .button .gift_btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* New Gift Card End */

/* Order History Empty Start */
#order .order_titel {
  border-bottom: 1px solid var(--stroke-color);
}

#order .order_titel h1 {
  font-size: 54px;
  padding: 30px 0px 18px;
  font-weight: 700;
  text-transform: uppercase;
}

#order .order_item {
  text-align: center;
  padding-top: 100px;
}

#order .order_item h1 {
  font-size: 22px;
  font-weight: 600;
}

#order .order_item p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

#order .order_img {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

#order .order_btn {
  display: flex;
  justify-content: center;
}

#order .order_btn .vertical_bar {
  color: var(--stroke-color);
  font-size: 22px;
  margin: 0 20px;
}

#order .order_btn button {
  background: none;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
}

#order .order_btn button:hover {
  color: var(--primary-color);
}

#order .order_btn button span {
  border-bottom: 1px solid var(--text-color);
}

#order .order_btn button span:hover {
  border-color: var(--primary-color);
}

@media screen and (max-width: 575px) {
  #order .order_item {
    padding-top: 50px;
  }

  #order .order_titel h1 {
    font-size: 34px;
    padding: 30px 0px 18px;
  }
}

/* Order History Empty End */

/* Past Order Start */

#past_order .order_titel h1 {
  font-size: 54px;
  padding: 30px 0px 18px;
  font-weight: 700;
  text-transform: uppercase;
}

#past_order .accordion_wrapper .accordion-content {
  background: transparent;
  border: 1px solid var(--stroke-color);
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 0px;
}

#past_order .accordion-content header {
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  min-height: 90px;
  margin: 0 30px;
  cursor: pointer;
  transition: all 0.2s linear;
}

#past_order .accordion-content.open header {
  border-bottom: 1px solid var(--stroke-color);
  margin: 0 30px;
}

#past_order .accordion-content header i {
  margin-right: 10px;
  transition: 0.5s;
}

#past_order .accordion-content.open header i {
  transform: rotate(180deg);
}

#past_order .accordion-content.open header {
  height: 70px;
  margin-bottom: 25px;
}

#past_order .accordion-content.open {
  padding-bottom: 10px;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
}

#past_order .accordion-content.open header .recorder_btn {
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#past_order .accordion-content.open header .recorder_btn:hover {
  color: var(--white) !important;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

#past_order .accordion-content header .title {
  font-size: 20px !important;
  font-weight: bold;
  color: #333;
}

#past_order .accordion-content header i {
  font-size: 15px;
  color: #333;
}

#past_order .accordion-content .description {
  height: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  padding: 0 30px;
  transition: all 0.2s linear;
}

#past_order .description .past_item .title h1 {
  font-size: 24px;
  font-weight: bold;
}

#past_order .description .past_item h2 {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

#past_order .description .past_item ul {
  list-style: disc inside;
  font-size: 16px;
  color: var(--gray-text);
}

#past_order .description .past_item p {
  font-size: 16px;
  color: var(--primary-color);
}

#past_order .description .past_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#past_order .description .past_item .price h1 {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: 600;
}

#past_order .accordion-content .description .locations {
  padding: 0px 0px 15px 0px !important;
}

#past_order .accordion-content .description .locations span {
  display: inline-block;
  margin-top: 10px !important;
}

#past_order header .recorder_btn {
  background: transparent;
  font-size: 20px;
  padding: 8px 25px;
  border: 1px solid var(--text-color);
  border-radius: 30px;
}

/* Past Order End */

/* Bag Empty Popup Start */

.cart_modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_wrapper {
  position: relative;
  width: 850px;
  background: var(--white);
  padding: 30px 30px 0;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.modal_wrapper .order_item {
  text-align: center !important;
}

.close_modal {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.close_modal:hover {
  background: rgba(204, 204, 204, 0.2);
}

.close_modal i {
  font-size: 1.2em;
}

.order_item h1 {
  text-align: center;
}

/* Bag Empty Popup End */
